:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
}

.form-container {
  display: flex;
  justify-content: center;
}

fieldset {
  border: 4px solid #540a74;
  background-color: #ceabff70;
  padding: 30px;
  border-radius: 25px 0;
}

p {
  color: red;
  margin-bottom: 20px;
}

.success-message {
  background-color: rgba(55, 0, 101, 0.952);
  width: 400px;
  height: 20px;
  color: white;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 400px;
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: rgb(229, 201, 255);
  color: #320054;
  border-radius: 20px 0;
}

form input[type="submit"] {
  background-color: #320054;
  color: white;
  width: 430px;
  border: 0;
  height: 40px;
  font-weight: 700;
}
